<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-50">
    <div>
      <div class="mb-4 mb-lg-0">
        <figure class="d-flex align-items-center bg-white p-3 rounded" style="border-left: .25rem solid #E3B23D;">
          <blockquote class="row blockquote pb-2">
            <form class="form-group" action="answer" data-turbo="false">
              <input class="form-control" type="text" name="ask" placeholder="Ask something to the Coach">
              <input class="btn btn-warning" type="submit" value="Ask!">
            </form>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>
</section>
